<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Raleway:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/style.css">
  <title>Real Estate Top Five</title>
</head>
<body>

<header>

   <!-- Conditionally render login or logout links -->
        {{#if loggedIn}}
         <ul class="nav justify-content-end  nav-pills">
          <li class="nav-item">
            <a class="nav-link topBtn text-dark" href="/logout">Log out</a>
          </li>
          </ul>
        {{else}}
          <ul class="nav justify-content-end nav-pills">
          <li class="nav-item">
            <a class="nav-link  topBtn text-dark" href="/createUser">Create New Account</a>
          </li>
          </ul>
        {{/if}}
  <div class = "headerDiv">
    <img src="images/Logo.png" alt="logo" id="logo" />
    <div class="headerText">
      <h1>REAL ESTATE TOP 5</h1>
  <h2 id="findInvestment">FIND YOUR BEST INVESTMENT</h2>
  </div>
  </div>
  
  
</header>

{{{body}}}


 {{!-- <div class="wrapper">

    <!-- Sidebar -->
    <div id="sidebar">
         <nav >
          <ul class="list-unstyled components">
           <li>
              <a href="/">Home</a>
            </li>
            
            <li>
              <a href="/newuser">New User</a>
            </li> 
            <li>
              <a href="/search">Search</a>
            </li>
            <li>
              <a href="/login">Login</a>
            </li>
            <li>
              <a href="/logout">Log out</a>
            </li>
          </nav>
    </div>
    
    <div id="content">
      <h1 id="header">
      Real Estate Top 5
      </h1>
      <h2>
      Find Your Next Investment 
      </h2>
      
         {{{body}}}
    </div> --}}

</div>       

  {{!-- <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
     
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/search">Search</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}
</body>
</html>